@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    section {
        @apply py-12
    }

    .container {
        @apply mx-auto px-4 max-w-7xl
    }

    .bg-default {
        @apply bg-neutral-50 dark:bg-slate-800
    }

    .bg-alternative {
        @apply bg-neutral-200 dark:bg-slate-700
    }

    .bg-primary {
        @apply bg-green-700 dark:bg-green-400
    }

    .bg-secondary {
        @apply bg-pink-700 dark:bg-pink-400
    }

    .text-default {
        @apply text-neutral-950 dark:text-neutral-50
    }

    .text-alternative {
        @apply text-neutral-50 dark:text-neutral-950
    }

    .text-primary {
        @apply text-green-700 dark:text-green-400
    }

    .text-secondary {
        @apply text-pink-700 dark:text-pink-400
    }
}

.shadow-small {
    filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.25));
}

.shadow-medium {
    filter: drop-shadow(4px 4px 0 rgba(0, 0, 0, 0.25));
}

.shadow-large {
    filter: drop-shadow(10px 14px 0 rgba(0, 0, 0, 0.25));
}